<div class="overflow-hidden">
    <h2 class="example-h2 mt-5 ml-5">Cambiar la Contraseña mi usuario {{name}} {{lastname}}</h2>
    <hr class="mt-5">
    <section>
    <form class="example-form ml-5 mr-5">
        <mat-form-field class="example-full-width">
          <input matInput #_password maxlength="50" [(ngModel)]="password" name="password"  placeholder="Contraseña">
          <mat-hint align="end">{{_password.value.length}} / 50</mat-hint>
          </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput #_password2 maxlength="50" [(ngModel)]="password2" name="password2"  placeholder="Verificar Contraseña">
          <mat-hint align="end">{{_password2.value.length}} / 50</mat-hint>
          </mat-form-field>
    </form>
    </section>
    <hr>
    <section class="mt-9">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <a href="javascript:;" class="btn mr-2 btn-outline-danger" (click)="cancelar()" mat-raised-button >
            <span class="hidden-mobile">Cancelar</span>
          </a>
          <a href="javascript:;" class="btn mr-2 btn-outline-warning" (click)="guardar()" mat-raised-button >
            <span class="hidden-mobile">Actualizar</span>
          </a>
        </div>
      </div>
    </section>
  </div>
  