<kt-portlet>
    <kt-portlet-header [title]="'Equipos'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            <a (click)="setCreate()" class="btn btn-info font-weight-bolder font-size-sm mr-3 cursor-pointer" *ngIf="Auth(0)">Crear</a>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="createdon" matSortDirection="desc" matSortDisableClear>
                <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                    <mat-cell *matCellDef="let listpagination">{{ listpagination.code }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let listpagination">{{ listpagination.name }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let listpagination">
                        <span class="label label-lg label-light-primary label-inline" [ngClass]="{ 'label-success': listpagination.status==true, 'label-danger': listpagination.status==false }">
                            {{ listpagination.status ? 'Activo' : 'Inactivo' }}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="modifiedon">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Modificado por</mat-header-cell>
                    <mat-cell *matCellDef="let listpagination">{{ listpagination.modifiedon | date:'dd/MM/yyyy HH:mm:ss' }}<br />{{ listpagination.modifiedbyname }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
                    <mat-cell *matCellDef="let listpagination">
                        <button mat-icon-button type="button" color="primary" matTooltip="Editar" (click)="setEdit(listpagination.id)" *ngIf="Auth(1) || Auth(2)">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button type="button" class="text-warning" matTooltip="Activar / Desactivar" (click)="setChangeStatus(listpagination.id, listpagination.name, listpagination.status)" *ngIf="Auth(3)">
                            <mat-icon>settings_ethernet</mat-icon>
                        </button>
                        <button mat-icon-button type="button" class="text-danger" matTooltip="Borrar" (click)="setDelete(listpagination.id, listpagination.name)" *ngIf="Auth(4)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <ng-template [ngIf]="dataSource.data.length === 0">
                    <tr mat-footer-row *matFooterRowDef="['noRecord']"></tr>
                </ng-template>
                <ng-container matColumnDef="noRecord">
                    <td colspan="5" style="padding-top: 17px;" mat-footer-cell *matFooterCellDef>No existe información</td>
                </ng-container>
            </mat-table>
        </div>
        <div class="mat-table__bottom">
            <mat-paginator [pageSize]="20" [pageSizeOptions]="[3, 5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>